<div class="col-lg-10">
	<div class="">
		<h4 class="text-primary">
			<a href="#playstoresearch" id="playstoresearch">#</a
			><span style="font-weight: bold">PlayStore Search</span>
		</h4>
		<p>Menemukan beberapa informasi aplikasi.</p>
		<div class="input-group">
			<div class="input-group-btn">
				<button type="button" class="btn btn-success">GET</button>
			</div>
			<input
				type="text"
				class="form-control"
				value="http://api-pemalas.herokuapp.com/api/playstore-search/"
			/>
		</div>
	</div>
	<div class="">
		<label for="">Params</label>
		<div class="table-responsive no-padding">
			<table class="table table-bordered table-hover dataTable" role="grid">
				<thead>
					<tr role="row">
						<th class="sorting">Field</th>
						<th class="sorting">Type</th>
						<th class="sorting">Required</th>
						<th class="sorting">Description</th>
					</tr>
				</thead>
				<tbody>
					<tr role="row" class="odd">
						<td>apikey</td>
						<td>string</td>
						<td>Yes</td>
						<td>your apikey</td>
					</tr>
					<tr role="row" class="odd">
						<td>query</td>
						<td>string</td>
						<td>Yes</td>
						<td>aplikasi yang ingin dicari.</td>
					</tr>
				</tbody>
			</table>
		</div>
	</div>
	<div class="">
		<p>Example Result</p>
		<pre>
			<code class="language-json">
{
  "success": true,
  "data": [
	{
	  "title": "WhatsApp Messenger",
	  "appID": "com.whatsapp",
	  "developer": "WhatsApp LLC",
	  "playstore": "https://play.google.com/store/apps/details?id=com.whatsapp",
	  "rate": "4.2",
	  "deskripsi": "Simple. Reliable. Private."
	},
	{
	  "title": "WhatsApp Business",
	  "appID": "com.whatsapp.w4b",
	  "developer": "WhatsApp LLC",
	  "playstore": "https://play.google.com/store/apps/details?id=com.whatsapp.w4b",
	  "rate": "4.2",
	  "deskripsi": "Simple tool for businesses to talk to their customers."
	},
	{
	  "title": "Video Call for WhatsApp : Free Messages App",
	  "appID": "chamadavideo.videocalling.videocall.videocalling",
	  "developer": "Royale Tips PExCrafteR",
	  "playstore": "https://play.google.com/store/apps/details?id=chamadavideo.videocalling.videocall.videocalling",
	  "rate": "3.9",
	  "deskripsi": "Video Call for WhatsApp Is free Messenger app to talk to your friends."
	},
	{
	  "title": "Transcriber for WhatsApp",
	  "appID": "it.mirko.transcriber",
	  "developer": "Mirko Dimartino",
	  "playstore": "https://play.google.com/store/apps/details?id=it.mirko.transcriber",
	  "rate": "",
	  "deskripsi": "Convert your WhatsApp voice notes to text"
	},
	{
	  "title": "GB Chat for WhatsApp - no online",
	  "appID": "com.chaaattt.gbhide",
	  "developer": "MycroftDev",
	  "playstore": "https://play.google.com/store/apps/details?id=com.chaaattt.gbhide",
	  "rate": "3.1",
	  "deskripsi": "Hide online and last seen for WhatsApp"
	}
  ]
}
		  </code>
		</pre>
	</div>
</div>
