<footer class="main-footer text-center">
    <strong
      >Copyright &copy; 2021-<%- year %>
      <a target="blank" href="//t.me/zrapiofc">ZefianAlfian</a>.</strong
    >
  </footer>
  <div class="control-sidebar-bg"></div>
</div>
<script src="/bootstrap/js/bootstrap.min.js"></script>
<script src="/plugins/slimScroll/jquery.slimscroll.min.js"></script>
<script src="/plugins/fastclick/fastclick.min.js"></script>
<script src="/dist/js/app.min.js"></script>
<script src="/dist/js/demo.js"></script>
</body>
</html>
