<div class="col-lg-3">
    <ul class="list-unstyled">
      <li>
        <a href="#playstoresearch">PlayStore Search</a>
      </li>
      <li>
        <a href="#gsmarenasearch">Gsmarena Search</a>
      </li>
      <li>
        <a href="#gsmarenadetail">Gsmarena Detail</a>
      </li>
      <li>
        <a href="#quotemaker">Quote Maker</a>
      </li>
      <!-- <li>
        <a href="#TinyurlShortener">Tinyurl Shortener</a>
      </li> -->
    </ul>
  </div>