<div class="col-lg-3">
    <ul class="list-unstyled">
      <li>
        <a href="#playstoresearch">PlayStore Search</a>
      </li>
      <!-- <li>
        <a href="#TinyurlShortener">Tinyurl Shortener</a>
      </li> -->
    </ul>
  </div>