<aside class="main-sidebar">
    <section class="sidebar">
      <ul class="sidebar-menu">
        <li class="">
          <a href="http://api-pemalas.herokuapp.com"
            ><i class="fa fa-home"></i> <span>Home</span></a
          >
        </li>
        <li class="">
          <a href="http://api-pemalas.herokuapp.com/documentation"
            ><i class="fa fa-book"></i> <span>Documentation</span></a
          >
        </li>
      </ul>
    </section>
  </aside>